body{font-family: "Roboto", sans-serif; color: #434455;   
    background-color: #FFFFFF;
    }

    ul{list-style-type: none;}

        a {
            text-decoration: none;}

    head{background-color: #FFF;}

    .main-name{color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }

    .special{color: #2e2f42;}

    .menu{color:  #2E2F42;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.32px;
        line-height: 1.5;
    }

        .menu:hover{color: #404BBF;
           }

            .menu:focus{color: #404BBF;
                }  

                .contakts { font-style: normal;}

                .mail{color: #434455;
                font-size: 16px;
                    letter-spacing: 0.02em;
                    line-height: 1.5;}

                    .mail:hover{color: #404bbf;}

                    .mail:focus{color: #404BBF;}

 
          
                    
      


           

   .cont{background-color: #2E2F42;}

   .head{color: #FFF;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
line-height: 1.07;
text-align: center;
}

    .btn{color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
       ;cursor: pointer;
    letter-spacing: 0.04em;
    }

.btn:focus{background-color: #404BBF;}
.btn:hover{background-color: #404BBF;}

    .cont_{background-color: #FFF;}

        .list>li>h3{
            color: #2E2F42;
            font-family: Roboto;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.4px;
        }

        .list1>li>p{color: #434455;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 0.32px;}

            .cont3{background-color: #F4F4FD;}

            .cont3>h2{color:#2E2F42;
                font-family: Roboto;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                letter-spacing: 0.72px;
                text-transform: capitalize;}

                .cont3>ul>li>h3{color: #2E2F42;
                    font-family: Roboto;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: 0.4px;}

                    .cont3>ul>li>p{color: #434455;
                        font-family: Roboto;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        letter-spacing: 0.32px;} 
                        
.cont4{background-color: #FFF;}

.cont4>h2{color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.72px;
    text-transform: capitalize;}
        
    .cont4>.subcont1, .subcont2>ul>li>h3{
             color: #2E2F42;
             font-family: Roboto;
             font-size: 20px;
             font-style: normal;
             font-weight: 500;
             letter-spacing: 0.4px;
         }

                 cont4>.subcont1,
                 .subcont2>ul>li>p{color: 434455;
                    font-family: Roboto;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 0.32px;}

                    .cont5{background-color: #2E2F42;}

                    .cont5>a{color: #4D5AE5;
                        font-family: Raleway;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        letter-spacing: 0.54px;
                        text-transform: uppercase;}

                        .cont5>p{color: #F4F4FD;
                            font-family: Roboto;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            letter-spacing: 0.32px;}
